BODY {width:100%;margin:0px auto; font-size:12px;font-family:"宋体","黑体";background-color: #FFFFFF;}
a:link {COLOR: #333333; TEXT-DECORATION: none;font-size:12px;}
a:visited {COLOR: #333333; TEXT-DECORATION: none;font-size:12px;}
a:hover {COLOR: #cf000e;TEXT-DECORATION: underline; font-size:12px;}
.cx_icon {width:46px;height:100%;float:left;text-align:center;line-height:23px;}
.cx_img {width:46px;height:46px;border:0px;}
.cai_img {width:93px;height:104px;border:#f5b72d 1px solid;}
.dot_img {width:7px;height:7px;border:0px;}
.dot_img2 {width:4px;height:6px;border:0px;}
.caixi_a{width:23px;height:100%;float:left;}
.caixi_b{width:21px;height:100%;float:left;}
.xing2{width:12px;height:12px;border:0px}
.xing3{width:25px;height:25px;border:0px}
.d_pic2{width:160px;height:120px;border:1px solid #ffa800}
.d_pic2s{width:104px;height:78px;border:0px solid #ffa800}
.d_pic3d{width:112px;height:84px;border:1px solid #06f100}
.d_pic3c{width:112px;height:84px;border:1px solid #ffae00}
.d_pic4{width:150px;height:35px;border:0px}
.icon24{width:24px;height:24px;border:0px}
.icon32{width:32px;height:32px;border:0px}
.icon511{width:50px;height:11px;border:0px;}
.ff1{font-family:"黑体";font-size:16px;color:#333;}
.ff1a{font-family:"黑体";font-size:16px;color:#00a;}
.ff2{font-family:"黑体";font-size:14px;color:#333;}
.ff2a{font-family:"黑体";font-size:11px;color:#333;}
.ff2b{font-family:"宋体";font-size:14px;color:#333;}
.ff2b1{font-family:"宋体";font-size:12px;color:#666;}
.ff2c{font-family:"宋体";font-size:14px;color:#888;}
.ff2d{font-family:"宋体";font-size:12px;color:#e00;}
.ff2e{font-family:"宋体";font-size:12px;color:#00c;}
.ff3{font-family:"黑体";font-size:11px;color:#0000FF;}
.ff3a{font-family:"黑体";font-size:14px;color:#0000FF;}
.ff3a1{font-family:"黑体";font-size:14px;color:#FF0000;}
.ff3b{font-family:"宋体";font-size:14px;color:#FF0000;}
.ff3b1{font-family:"宋体";font-size:14px;color:#990000;}
.ff3c{font-family:"宋体";font-size:14px;color:#0000FF;}
.ff3c2{font-family:"宋体";font-size:14px;color:#009403;}
.ff3ce{font-family:"Arial","Times New Roman";font-size:14px;color:#0000FF;}
.ff3d{font-family:"宋体";font-size:14px;color:#c05f00;}
.ff3e{font-family:"宋体";font-size:14px;color:#ac00c5;}
.ff3f{font-family:"宋体";font-size:12px;color:#ac00c5;}
.ff4{font-family:"黑体";font-size:11px;color:#777;}
.ff4a{font-family:"宋体";font-size:11px;color:#888;}
.ff5{font-family:"宋体";font-size:12px;color:#0000FF;}
.ff5a{font-family:"宋体";font-size:12px;color:#13a000;}
.ff5b{font-family:"宋体";font-size:12px;color:#333;}
.ff6{font-size:18px;color:#fdff4c;font-family:黑体;font-weight:700;}
.ff6a{font-size:18px;color:#900;font-family:黑体;font-weight:700;}
.ff7{font-size:16px;color:#EE0000;font-weight:500;}
.ff7a{font-size:14px;color:#fdff4c;}
.ff7a1{font-size:12px;color:#fdff4c;}
.ff7b{font-size:12px;color:#ce5200;}
.ff7c{font-size:14px;color:#EE0000;}
.ff7d{font-size:12px;color:#cdffc6;}
.bb1{font-family:"宋体";font-size:12px;color:#d98000;border:#ffae00 1px solid;BACKGROUND-color:#ffefce;} /* 橙色 */
.bb1s{font-family:"宋体";font-size:12px;color:#d98000;border:#ffae00 1px solid;} /* 橙色白底 */
.bb2{font-family:"宋体";font-size:12px;color:#118e00;border:#1df600 1px solid;BACKGROUND-color:#d8ffd3;} /* 绿色 */
.bb2s{font-family:"宋体";font-size:12px;color:#118e00;border:#1df600 1px solid;} /* 绿色白底 */
.bb3{font-family:"宋体";font-size:12px;color:#022ad9;border:#0065fc 1px solid;BACKGROUND-color:#c9dfff;} /* 蓝色 */
.bb3s{font-family:"宋体";font-size:12px;color:#022ad9;border:#0065fc 1px solid;} /* 蓝色白底 */
.bb3a{font-family:"宋体";font-size:14px;color:#022ad9;border:#0065fc 1px solid;BACKGROUND-color:#c9dfff;} /* 蓝色 */
.bb3b{font-family:"宋体";font-size:11px;color:#022ad9;border:#0065fc 1px solid;BACKGROUND-color:#c9dfff;} /* 蓝色 */
.bb4{font-family:"宋体";font-size:12px;color:#b60000;border:#ff2d2d 1px solid;BACKGROUND-color:#ffd1d1;} /* 红色 */
.bb4s{font-family:"宋体";font-size:12px;color:#b60000;border:#ff2d2d 1px solid;} /* 红色白底 */
.bb5{font-family:"宋体";font-size:12px;color:#65009a;border:#a800ff 1px solid;BACKGROUND-color:#f2daff;} /* 紫色 */
.bb5s{font-family:"宋体";font-size:12px;color:#65009a;border:#a800ff 1px solid;} /* 紫色白底 */
.bb6{font-family:"宋体";font-size:10px;color:#ff0000;border:#ffa800 1px solid;BACKGROUND-color:#ffff00;} /* 红色 */
.bb6s{font-family:"宋体";font-size:12px;color:#ff0000;border:#ffa800 1px solid;BACKGROUND-color:#ffff00;} /* 红色 */
.bb6t{font-family:"宋体";font-size:12px;color:#ff0000;border:#ffa800 1px solid;} /* 红色白底 */
.bb7{font-family:"宋体";font-size:12px;color:#ffff00;border:#ff0000 1px solid;BACKGROUND-color:#dd0000;} /* 红底黄色 */
.bb7a{font-family:"宋体";font-size:12px;color:#ffff00;border:#ff9ff7 1px solid;BACKGROUND-color:#ae00a4;} /* 红底黄色 */
.jian2{width:20px;height:20px;border:#999 1px solid;font-size:12px;color:#333;line-height:17px;text-align:center;}
.jian3{width:20px;height:16px;border:#999 1px solid;font-size:11px;color:#333;line-height:16px;text-align:center;}
.jian4{width:20px;height:16px;border:#aaa 1px solid;font-size:11px;color:#333;line-height:16px;text-align:center;BACKGROUND-color:#eee;}
.jian5{width:40px;height:16px;border:#aaa 1px solid;font-size:11px;color:#333;line-height:16px;text-align:center;BACKGROUND-color:#eee;}
.jian6{width:32px;height:16px;border:#aaa 1px solid;font-size:11px;color:#333;line-height:16px;text-align:center;BACKGROUND-color:#eee;}
.combo2{height:18px;border:#999 1px solid;font-size:12px;color:#333;line-height:16px}
.button5a{width:69px;height:100%;font-size:12px;color:#fbff81;line-height:32px;font-family:黑体;BACKGROUND-color:#b50000;text-align:center;float:left;}
.button5b{width:69px;height:100%;font-size:12px;color:#fbff81;line-height:32px;font-family:黑体;BACKGROUND-color:#003e9c;text-align:center;float:left;}
.button5c{width:69px;height:100%;font-size:12px;color:#fbff81;line-height:32px;font-family:黑体;BACKGROUND-color:#13a000;text-align:center;float:left;}
.button5ar{width:69px;height:100%;font-size:12px;color:#fbff81;line-height:32px;font-family:黑体;BACKGROUND-color:#ac00c5;text-align:center;float:right;}
.button5br{width:69px;height:100%;font-size:12px;color:#fbff81;line-height:32px;font-family:黑体;BACKGROUND-color:#13a000;text-align:center;float:right;}
.button5cr{width:69px;height:100%;font-size:12px;color:#d1d1d1;line-height:32px;font-family:黑体;BACKGROUND-color:#666666;text-align:center;float:right;}
.my_txt6 {width:100%;height:16px;font-size:12px;font-family:宋体,黑体;line-height:16px;text-align:center;}
.txt22{font-size:11px;color:#f00;}
.fun25{width:100%;height:25px;line-height:25px;}

